<!DOCTYPE html>
<html>

<body background="https://images.unsplash.com/photo-1572470615886-dca9d7e809f2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
	<h1 style="text-align:center;"> Cell Samples Classifier </h1>

	<div style="text-align:center;">
		<form method="POST" action="{{url_for('home')}}">
			  <label for="clump">Clump&nbsp;&nbsp;</label>
			  <input type="text" id="clump" name="clump"><br>
			<br>
			  <label for="unifsize">Unif Size&nbsp;&nbsp;</label>
			  <input type="text" id="unifsize" name="unifsize"><br>
			<br>
			  <label for="unifshape">UnifS hape&nbsp;&nbsp;</label>
			  <input type="text" id="unifshape" name="unifshape"><br>
			<br>
			  <label for="margadh">Marg Adh&nbsp;&nbsp;</label>
			  <input type="text" id="margadh" name="margadh"><br>
			<br>
			  <label for="singepisize">Sing EpiSize&nbsp;&nbsp;</label>
			  <input type="text" id="singepisize" name="singepisize"><br>
			<br>
			  <label for="barenuc">Bare Nuc&nbsp;&nbsp;</label>
			  <input type="text" id="barenuc" name="barenuc"><br>
			<br>
			  <label for="blandchrom">Bland Chrom&nbsp;&nbsp;</label>
			  <input type="text" id="blandchrom" name="blandchrom"><br>
			<br>
			  <label for="normnucl">Norm Nucl&nbsp;&nbsp;</label>
			  <input type="text" id="normnucl" name="normnucl"><br>
			<br>
			  <label for="mit">Mit&nbsp;&nbsp;</label>
			  <input type="text" id="mit" name="mit"><br>
			<br>
				<br>
			  <input type="submit" value="Predict">
		</form>
	</div>
</body>

</html>
